body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

header{
    background-color: #e96a6a;
    padding: 20px 0;
}

.contacto{
    width: 940px;
    margin: 0 auto;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    border-top-left-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:hover h2{
    font-size: 33px;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    }

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td,th{
    border: 1px solid black;
    padding: 8px 15px;
}

/*Aquí inicia nuestra CSS para nuestra home*/

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    /*em hace que multiplique por "x" veces el tamaño de la fuente padrón del navegador*/
    margin: 0 0 1em;
    clear: left; /*Para que no se aplique el float de la imagen al título. Para que lo que siga al texto se alinee a la izquierda, que limpie la   alineación anterior, por eso el atributo se llama "clear"*/
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensillos{
    width: 120px;
    float: left; /*Float es el atributo para que el texto rodee a la imagen*/
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888); /*El atributo "gradient" y sus variables sirve para obtener un degradé (linear=lineal o radial=radial) de x cantidad de colores. Dentro de los paréntesis si colocamos como primer parámetro el valor en grados (Ej: 45deg) modificamos la dirección del degradé. Se separa por comas cada color que estará en el degradé. Por defecto se distribuye en forma equitativa el espacio de cada color. Si se quiere modificar, se coloca el porcentaje después de nombrar el color*/
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5; /*Para determinar la altura de la línea. El valor hace referencia al padrón por defecto. Es decir, va a tomar el tamaño padrón y lo multiplica por el valor que colocamos (en este caso 1.5) */
}

.items::before{
    content: "✶";
    margin: 0 5px 0 0;
}

.items:first-child{
    font-weight: bold; /*Hace referencia al primer items (last-child es para el último, y con nth-child(número) podemos elegir cuál items vamos a modificar; y si colocamos el n2 va a afectar a los items pares)*/
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px black;
}

.imagen-diferenciales:hover{
    opacity: 0.3;
    transition: 400ms;
}

.video{
    width: 560px;
    margin: 1em auto;
}

/*El siguiente código es para que nuestra página se pueda ver bien también en celulares (responsive)*/
@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

}
